
body {
    
    background-color: #292930;
    box-sizing: border-box;
    
}

.main-container {
    margin: 0 auto;
    }

header {
    margin-bottom: 1.2rem;
}

 nav {

   overflow: hidden;
    position: fixed;
     padding-left: 0.5rem;
     top: 0;
     left:0;
     width: 100%;
}

.nav-colored{
    background-color: rgb(65, 66, 62, 0.95);
    transition-delay: 100ms;
}

.head-element {
    margin-top: 9rem;
} 

.nav-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
    margin-top:1rem;
 }




a {
    text-decoration: none;
    color: #FCC133;
}

.banner {
    align-content: center;
    display: none;
    justify-content: center;
    width: 100%;
  }

  [install-btn] {
    background-color: #ff9800;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0;
    margin: 0px;
    min-width: 64px;
    overflow: hidden;
    padding: 0 8px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 30%;
  }



.bars {
/*    margin-right:10px;*/
  background:none;
    border:none;
    outline: none;
    width: 100%;

    
}

.nav-icon:hover {
    padding: 0.1rem;
    
    
  }
  
  .nav-icon:focus {
    background-color: #0F52C1;
      
  
    /* The outline parameter suppresses the border
    color / outline when focused */
    outline: 0;
  }
  
 
.dropdown-content > i {
  position: absolute;
    right: 2.8rem
}

.nav-icon {
    margin: em;
    width: 30px;
    float: right;
    
  }
  
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    background-color: #fff;
    border-radius: 0px;
    content: '';
    display: block;
    height: 3px;
    margin: 5px 0;
  }

  

.dropdown-content {
  
  background-color: none;
  width: 100% ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}


.dropdown {
    display: block;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px -1px;
    
}


[topic-link] {
    margin: 0.5rem 0 0 0 ;
    padding: 0;
    font-variant: small-caps;
    color: #fff;
    width: 100%;
    text-align: center;
}

.head-element > h4 {
    margin: 0.5rem 0 0 0 ;
    padding: 0;
    font-variant: small-caps;
    color: #fff;
}

.head-element > em {
    color: #fff;
}



.nav-img {
    max-width: 23%;
    height: auto;
    
    
}

.nav-img:hover {
    background-color: #383e46;
    
  }


.sbstyle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    font-family: "monospace",Lucida Console, Courier;
    margin-top: 1rem;
    
}

.sform {
    width: 100%;
    display: flex;
    justify-content: center;
    border-color: #292930;
    margin-bottom: 0.5rem;
    
}


.sform > input {
    width: 80%;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    border-width: thin;
    border-color: transparent;
    
    
}

input[type="text"], select:focus, textarea{
    font-size: 16px;
}

[date-elem] {
    font-weight: bold;
    color: aliceblue
}


.collapsible {
    
    display: flex;
    flex-direction: column;
    
}

.arrow-div {
    margin : none;
    padding : none;
    width: 0px;
    height: 0px;
    position:relative;
    left:45%
    
    }

i {
  border:solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.collapsible > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    font-family: "monospace",Lucida Console, Courier;
    font-weight: bold;
    margin-bottom: 3px;
    }

   


.total-confirmed {
    background-color: rgb(252, 193, 51, 0.9);
    }

.total-confirmed:hover {
   background-color: rgb(252, 193, 51);
}

.cc {
    color:black;
    text-align: center;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    cursor:pointer;
    }

.cc:hover{
    font-size:  2.55rem;
}


[wc] {
    color: #fff;
}

label {
    
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    text-decoration: underline;
    }


.death-case {
    background-color: rgb(225, 43, 56, 0.9);
}

.death-case:hover {
    background-color: rgb(225, 43, 56);
}



.recovery-case {
    background-color: rgb(62, 182, 80, 0.9)
}

.recovery-case:hover {
    background-color: rgb(62, 182, 80)
}


.hide {
    display: none;
}

.artlbl {
    width: 100%;
    display: flex;
    justify-content: center;    
}

.artlbl > label > h4 {
    margin-bottom: 0.3rem;
}

 .article {
        margin-bottom: 10px;
        background-color: rgba(81, 182, 182, 0.295);
        padding: 5px 10px;
         overflow-Y: auto;
    }

    .imgHolder {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .imgHolder img {
        max-width: 100%;
    }

.article > p {
    overflow-y: auto;
    color: black;
}

#news > a {
    color: black;

}

.news-link {
    color: darkblue;
}
  
@media screen and (min-width: 45rem){

    
.head-element{
        margin-top: 10rem;
    }
    
    [session-one]{
       display: flex; 
       flex-flow: row;
       width: 100%;
        height: 20rem;
        justify-content:space-around;
        align-content: stretch;
        
    }
    
    .collapsible {
        flex-grow: 1;
        max-width: 33%;
        
        
    }

    .collapsible > div {
        width:100%;
        height:50%;
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: center;
        border-radius: 3px;
        font-family: "monospace",Lucida Console, Courier;
        font-weight: bold;
        margin-bottom: 3px;
        }

        .arrow-div {
            display: none;
        }

        canvas {
            display: inline-block;
            max-width: 100%;
            
            box-sizing: border-box;
            max-height: 100%;
        }

        #news {
           display: grid;
           grid-template-columns: auto auto auto;
           
           }

       
        .article {
            margin: 0.1rem;
            height: 30rem ;
        }

        @media screen and (max-width: 900px) and (min-width: 700px) {
            #country {
                display: grid;
                grid-template-columns: auto auto;  
             }
                .country{
                    margin: 0.2rem
                }
        }

        


#country {
    display: grid;
    grid-template-columns: auto auto auto;  
 }
    .country{
        margin: 0.2rem
    }
}



#country{
    margin: 1px 1px 1px 1px;
}

.country-lable{
    color: #fff;
    font-size:2rem;
    margin-left: 1rem;
    font-family:serif;
    text-decoration: none;
    font-size-adjust: auto;
} 


.country-collapsible{
    display: flex;
    flex-direction: column;
}
.country{
    display: flex;
    flex-flow: column;
    background-color:#3c3c3c;
    margin-bottom: 0.2rem;
    
}

.country-divs {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #353b3b;
    }

    .country-arrow-div {
        align-self: flex-end;
        margin-right: 2rem;
    }

.title-span{
    width: 50%;
    border-color:#635757;
    border-bottom-style:ridge;
    border-bottom-width: thin;
    text-align-last:left;
    padding-left: 0.5em;
    font-size-adjust: auto;
    cursor: pointer;
}

.data-span{
    width: 50%;
    margin-left:1px;
    border-left-style:ridge;
    border-left-width: thin;
    text-align-last: justify;
    padding-left: 1em;
    border-color:#635757;
    border-bottom-style:ridge;
    border-bottom-width: thin;
    text-align-last:left;
    cursor: pointer;
}

.total-case-title{
    color: #FCC133;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size-adjust: auto;
    cursor: pointer;
    
    
}
.total-case-data{
    color: #FCC133;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
}
.recovery-case-title{
    color: #3EB650;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size-adjust:auto;
}
.recovery-case-data{
    color: #3EB650;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    
}
   
.death-case-title{
    color: #E12B38;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size-adjust: auto;
}
.death-case-data{
    color: #E12B38;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
}

/* Footer */
#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
  }
  
  #main-footer a {
    color: #f96816;
    text-decoration: underline;
  }
  


